.login-section{
    .login-form{
        
    
        input{
            width: 400px;
            height: 40px;
            
        }
    
        .login-btn{
            margin-top: 10px;
            width: 400px;
            height: 40px;
            background-color: #459e60;
            color: #ffff;
        }

        .login-btn:hover{
            background-color: #00be39;
        }
    
        .login-google{
            margin-top: 10px;
            width: 400px;
            height: 40px;
            background-color: rgb(90, 90, 90);
            color: #ffff;
        }

        .login-google:hover{
            background-color: rgb(119, 119, 119);
        }

        .sign-up{
            margin-top: 20px;
            
        }
        label{
            width: 400px;
            margin-top: 15px;
        }
    }
}

