.contact-form {
    height: 100vh;

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 10%;

        .header {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        label,
        input {
            width: 300px;
        }

        input {
            height: 40px;
        }

        #text-area {
            width: 300px;
            height: 100px;
        }

        .box {
            display: flex;
            align-items: center;
        }

        .label-box {
            display: flex;
            width: 180px;
        }

        .checkbox {
            width: auto;
        }

        .submit-btn-form {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-top: 10px;

            .submit-form {
                width: 100px;
                font-size: 1.2rem;
                padding: 5px;
                border-radius: 10px;
                border-style: none;
                color: #ffff;
                background-color: #FF9C38;
            }

            .submit-form:hover {
                background-color: #d16900;
                cursor: pointer;
            }
        }


    }


}

@media screen and (min-width: 768px) {
    .contact-form {
        .form-container {
            label,
            input,
            #text-area {
                width: 500px;
            }

            #text-area {
                height: 200px;
            }

            .submit-btn-form {
                .submit-form {
                    font-size: 1.5rem;
                    padding: 7px;
                }
            }


        }
    }
}

@media screen and (max-width: 1024px) {
    .contact-info{
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 40px;
        margin-right: 40px;
    

        .form-container {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            .header {
                justify-content: flex-start;
            }

            label,
            input,
            #text-area {
                width: 500px;
            }

            #text-area {
                height: 200px;
            }

            .submit-btn-form {
                display: flex;
                justify-content: flex-start;

                .submit-form {
                    font-size: 1.5rem;
                    padding: 7px;
                }
            }

            .submit-btn-form, .header, .lorem, .box {
                display: flex;
                justify-content: flex-start;
                width: 500px;
            }
           

           


        }
        .contact-info {
            display: grid;
            height: 35%;
            grid-template-columns: 1fr 1fr;
            padding-top: 30%;
            margin-left: 20px;

            .path {
               font-size: 1.5rem;
            }


        }
    }
}

@media screen and (min-width: 1440px) {
    .contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 40px;
        margin-right: 40px;

        
    

        .form-container {

            div{
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;
            }

            label,
            input,
            #text-area {
                width: 600px;
            }

            #text-area {
                height: 200px;
            }

            .submit-btn-form {
                display: flex;
                justify-content: flex-start;

                .submit-form {
                    font-size: 1.5rem;
                    padding: 7px;
                }
            }

            .box{
                width: 600px;
                .label-box {
                    display: flex;
                    
                    
                }
                .checkbox {
                    width: auto;
                }
            }

            .lorem, .header, .submit-btn-form{
                width: 600px;
            }

           


        }
        .contact-info {
            display: grid;
            height: 35%;
            grid-template-columns: 1fr 1fr;
            padding-top: 20%;
            margin-left: 20px;

            .path {
               font-size: 1.5rem;
            }


        }
    }
}

@media screen and (min-width: 1441px) {
    .contact-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 40px;
        margin-right: 40px;
    

        .form-container {

            label,
            input,
            #text-area {
                width: 700px;
            }

            #text-area {
                height: 200px;
            }

            .submit-btn-form, .header, .lorem, .box {
                display: flex;
                justify-content: flex-start;
                width: 700px;

                .submit-form {
                    font-size: 1.5rem;
                    padding: 7px;
                }
            }

           


        }
        .contact-info {
            display: grid;
            height: 35%;
            grid-template-columns: 1fr 1fr;
            padding-top: 15%;
            margin-left: 20px;

            .path {
               font-size: 1.5rem;
            }


        }
    }
}

@media screen and (min-width: 320px) {

    .contact-form{

        .form-container{
            display: flex;
            align-items: center;
        }
    }
    

}