.product-form{
    margin-top: 5px;
    margin-right: 15px;
    padding: 6px;
    background-color: #24b439;
    cursor: pointer;

    a{
        color: #ffff;
        text-decoration: none;

    }
}

.product-form:hover{
    background-color:#1b8d2c;
}

.btn-container{
    display: flex;
    justify-content: flex-end;
}