.form {
    width: 100vw;
    height: 88vh;
    background-color: #8f8f8f;

    .center{
        text-align: center;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 50vw;
        height: 75vh;
        gap: 3%;
        margin-left: auto;
        margin-right: auto;
        background-color: #7085ad;
        
        

        input, label{
            display: block;
        }

        input {
            width: 20vw;
            height: 4vh;
        }

       
    }
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    
}

.form-group{
    width: 30%;
}

.submit-btn{
    margin-top: 10px;
    padding: 10px;
    width: 200px;
    background-color: #FF9C38;
    border-style: none;
    border-radius: 10px;
    color: #ffff;
}

.submit-btn:hover{
    background-color: #d16900;
}
