        .container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .details-btn {
                background-color: #374151;
                padding: 12px;
                border-style: none;
            }

            a {
                color: #ffff;
                text-decoration: none;

            }

            .details-btn:hover {
                background-color: #446491;
            }

        }

        .card-body {
            background-color: #BFBFBF;
        }

    .card{
        margin-top: 10px;
    }