@media only screen and (min-width: 861px) {
    .pictures-slider {
        display: none;
    }
}

// .carousel-container {

    .pictures-slider {
        position: relative;
        width: 100%;
        .carousel-container-flex {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            transition: transform 0.3s;

            .arrow {
                position: absolute;
                width: 2rem;
                height: 2rem;
                color: white;
                filter: drop-shadow(0px 0px 5px #555);
            }

            .arrow:hover {
                cursor: pointer;
            }

            .arrow-left {
                left: 1rem;
            }

            .arrow-right {
                right: 1rem;
            }

            .indicators {
                display: flex;
                position: absolute;
                bottom: 1rem;

                .indicator {
                    background-color: white;
                    height: 0.5rem;
                    width: 0.5rem;
                    border-radius: 100%;
                    border: none;
                    outline: none;
                    margin: 0 0.2rem;
                }

                .indicator-inactive{
                    background-color: gray;
                }
            }
        }

    }

    .slider-image {

        .big-slider {
            width: 100%;
            box-shadow: 0px 0px 7px;

        }

        .slide-hidden{
            display: none;
        }
    }



// }