.footer {
    height: 18vh;
    background-color: #293241;
    margin-top: 10px;

    .logo {
        display: flex;
        align-items: center;
        color: #ffff;
        position: relative;
        top: 40%;
        width: 30%;
        margin-left: 10px;
        font-size: 2rem;



    }

    .links {
        display: flex;
        width: 50%;
        margin-left: auto;
        flex-direction: column;
    }

    // .circle-footer-container{
    //     display: flex;
    //     justify-content: flex-end;
    //     align-items: flex-end;
    //     // width: 100%;

    //     .circle-footer{
    //         background-color:#FF9C38 ;
    //         width: 100px;
    //         height: 100px;
    //     }
    // }

    

    a {
        color: #ffff;
        margin-top: 5px;
        text-decoration: none;
        font-size: 1.2rem;

    }

    a:hover {
        color: #FF9C38;

    }
}

@media only screen and (min-width: 768px) {
    .footer{
        .links {
            display: flex;
            justify-content: space-between;
            width: 80%;
            flex-direction: row;
        }

        .logo {
            display: flex;
            align-items: center;
            color: #ffff;
            position: relative;
            top: 25%;
            width: 15%;
            margin-left: 45px;
            font-size: 2rem;
        }

        .logo-links{
            display: flex;
            align-items: center;
            color: #ffff;
            font-size: 1.7rem;
            margin-right: 45px;
            margin-bottom: 30px;
        }

        .underline{
            background-color: #ffff;
            margin: auto;
            height: 1px;
            width: 95%;
        }

        .idk{
            display: flex;
            justify-content: center;
            padding-top: 30px;
            gap: 5%;

            p{
                color: #ffff;
                text-decoration: underline;
            }
            
            .all-rights{
                text-decoration: none;
            }

            
        }
    }
  }