.footer {
    position: relative;
    height: 18vh;
    background-color: #293241;
    margin-top: 10px;
    overflow: hidden;



    // }

    .links {
        display: flex;
        width: 100%;
        padding-top: 20px;
        margin: auto;
        flex-direction: column;
    }


        .circle-footer{
            position: absolute;
            background-color:#FF9C38 ;
            bottom: -15px;
            right: -15px;
            width: 75px;
            height: 75px;
            border-radius: 50%;
        }
    



    a {
        color: #ffff;
        margin-top: 5px;
        text-decoration: none;
        font-size: 1.2rem;

    }

    a:hover {
        color: #FF9C38;

    }
}

@media only screen and (min-width: 768px) {
    .footer {
        .links {
            display: flex;
            justify-content: space-between;
            width: 100%;
            flex-direction: row;

            .logo-footer {
                display: flex;
                align-items: center;
                color: #ffff;
                margin-left: 45px;
                font-size: 2rem;
            }
        }

        .logo-links {
            display: flex;
            align-items: center;
            color: #ffff;
            font-size: 1.7rem;
            margin-right: 45px;
            margin-bottom: 30px;
        }

        .underline {
            background-color: #ffff;
            margin: auto;
            height: 1px;
            width: 95%;
        }

        .idk {
            display: flex;
            justify-content: center;
            padding-top: 30px;
            gap: 5%;

            p {
                color: #ffff;
                text-decoration: underline;
            }

            .all-rights {
                text-decoration: none;
            }


        }
    }
}

@media only screen and (max-width: 767px) {
    .footer {
        .links {
            display: flex;
            position: relative;
            justify-content: center;
            align-items: center;

            .logo-footer {
                display: flex;
                align-items: center;
                color: #ffff;
                font-size: 2rem;
            }

            // .logo {
            //     display: flex;
            //     align-items: center;
            //     color: #ffff;
            //     position: relative;
            //     top: 40%;
            //     width: 30%;
            //     margin-left: 10px;
            //     font-size: 2rem;

            .logo-links {
                display: none;
            }
        }

        .idk {
            display: none;
        }
    }

}