.product-container {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    width: 100%;

    .arrow-back {
        color: black;
        width: 5%;
    }

    .arrow-back:hover {
        color: rgb(0, 119, 255);
    }

    .arrow-a,
    a {
        width: 5%;
    }

    .product-details-container {

        .pictures-flex {
            display: flex;
            width: 100%;
            height: 60%;

            .big-picture {
                width: 50%;

                .bigg {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .small-container {
                width: 50%;
                display: flex;
                flex-direction: row;

                .small-picture {
                    margin-left: 5px;
                    width: 100%;
                    height: 100%;

                    .small {
                        width: 100%;
                        height: 49.6%;
                        margin-bottom: 5px;
                    }
                }
            }


        }

        .product-det-container {
            width: 100%;
            display: flex;

            .right-side {
                margin-top: 20px;
                margin-left: 20px;
                width: 50%;
                padding-top: 5%;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: flex-end;
                padding-bottom: 5%;

                .calender {
                    padding-top: 20%;
                }

                .price_btn{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    .details-price {
                        width: 50%;
                        padding-top: 5%;
    
                        .product-price {}
                    }
                    
                    .rating {
                        width: 50%;
                    }

                    .amount-guests{
                        width: 50%;
                        margin-bottom: 10px;

                        label{
                            padding-right: 5px;
                        }

                        input{
                            width: 45px;
                            padding-left: 5px;
                        }
                    }
    
                    .product-det-btn {
                        width: 50%;
                        gap: 10px;
                        display: flex;
                        flex-direction: column;
    
                        .favourites-btn {
                            background-color: #ff8000;
                            height: 50px;
                            border-style: none;
                            color: #ffff;

                            a{
                                text-decoration: none;
                                color: #ffff;
                                width: 100%
                            }
                        }
    
                        .favourites-btn:hover {
                            background-color: #c76300;
                        }
    
                        .book-btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            color: white;
                            width:100%;
                            height: 50px;
                            background-color: #336659;

                            a{
                                text-decoration: none;
                                color: #ffff;
                            }
                        }
    
                        .book-btn:hover {
                            background-color: #1f493d;
                        }
                    }
                }

                
            }


            .product-det {
                width: 50%;

                .product-header {
                    margin-top: 20px;
                }

                li {
                    margin-top: 5px;
                }

                .details {
                    display: flex;
                    gap: 5%;
                    text-decoration: underline;

                    .policy-link:hover {
                        color: #FF9C38;
                    }
                }

                .included {
                    width: 100%;
                    border-style: solid;
                    margin-top: 10%;
                    margin-bottom: 10%;
                    padding: 20px;

                    .included-header {
                        display: flex;
                        justify-content: center;
                        margin-bottom: 15px;
                    }

                    .included-logos {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 5%;
                        margin-top: 20px;

                        p {
                            font-size: 1.2rem;
                        }
                    }


                }
            }

        }
    }
}

@media only screen and (max-width: 860px) {
    .product-container {
        padding-left: 20px;
        padding-right: 20px;

        .product-details-container {
            .pictures-flex {

                .big-picture {
                    display: none;
                }

                .small-container {
                    display: none;
                }
            }

            .product-det-container {
                display: block;
                width: 100%;


                .right-side {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin: 0px;
                    padding: 0px;

                    .calender {
                        padding-top: 0%;


                        .date-picker-header {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .details-price {
                        padding: 10px;
                    }
                }

                .product-det {
                    width: 100%;


                    .included {
                        width: 100%;
                        border-style: none;
                        margin-top: 10%;
                        margin-bottom: 2%;
                        padding: 20px;
                        background-color: rgb(219, 219, 219);

                        .included-header {
                            display: none;
                        }

                        .included-logos {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 5%;
                            margin-top: 20px;

                            p {
                                font-size: 1.2rem;
                            }

                        }

                        .included-p {
                            display: none;
                        }
                    }


                }
            }
        }
    }
}

@media only screen and (max-width: 425px) {
    .product-container {
        padding-left: 5px;
        padding-right: 5px;
        position: relative;

        .arrow-back {
            position: absolute;
            top: 0.5rem;
            left: 1rem;
            color: black;
            z-index: 100;
        }

        .accommodation {
            display: none;
        }

        .product-details-container {
            .product-det-container {
                .list {
                    display: none;
                }

                .p-details {
                    display: none;
                }

                .product-det {
                    .details {
                        display: none;
                    }

                    .included {
                        padding: 5px;
                        margin-top: 10px;
                    } 

                }
                .right-side {
                    display: flex;

                    .price_btn{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        padding-left: 10px;
                        padding-right: 10px;
                        .details-price {
                            width: 50%;
                            padding-top: 5%;
        
                            .product-price {}
                        }
                        .favourites-btn {
                            background-color: #ff8000;
                            border-style: none;
                            color: #ffff;

                            a{
                                text-decoration: none;
                                color: #ffff;
                                width: 100%
                            }
                        }
        
                        .rating {
                            display: none;
                        }    

                        .amount-guests{
                            width: 50%;
                            margin-bottom: 10px;
                            padding-top: 5%;
    
                            input{
                                width: 45px;
                            }
                        }
        
                        .product-det-btn {
                            width: 50%;
                            gap: 10px;
                            display: flex;
                            flex-direction: column;
        
                        }
                    }
                   

                }
            }


        }


    }
}