.policy-container {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    width: 100%;

    .policy-header {
        text-align: center;
    }

    .lorem-text {
        padding-top: 20px;
    }

    .policy-header2 {}

    .container2 {
        width: 100%;
        padding-top: 80px;
        display: flex;

        .policy-p {
            width: 50%;
            display: flex;
            flex-direction: column;
        }

        .policy-image {
            width: 50%;
            padding-left: 4rem;


            .img-policy {
                width: 100%;


            }
        }

        .policy-image1 {
            width: 100%;
            padding: 0px;
            display: none;
            .img-policy {
                width: 100%;
            }
        }


    }


}

@media only screen and (max-width: 1024px) {
    .policy-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 100%;

        .policy-header {
            text-align: center;
        }

        .lorem-text {
            padding-top: 20px;
        }

        .policy-header2 {}

        .container2 {
            width: 100%;
            padding-top: 80px;
            display: flex;

            .policy-p {
                width: 50%;
                display: flex;
                flex-direction: column;
            }

            .policy-image {
                width: 50%;
                padding-left: 4rem;
                display: flex;


                .img-policy {
                    width: 100%;
                }
            }
        }

    }
}

@media only screen and (max-width: 768px) {
    .policy-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 100%;

        .policy-header {
            text-align: center;
        }

        .lorem-text {
            padding-top: 20px;
        }

        .policy-header2 {}

        .container2 {
            width: 100%;
            padding-top: 20px;
            display: flex;

            .policy-p {
                width: 50%;
                display: flex;
                flex-direction: column;
            }

            .policy-image {
                width: 50%;
                padding-left: 1rem;



                .img-policy {
                    width: 100%;
                }
            }

           
        }

    }
}


@media only screen and (max-width: 767px) {
    .policy-container {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        width: 100%;

        .policy-header {
            text-align: center;
        }

        .lorem-text {
            padding-top: 20px;
        }

        .policy-header2 {}

        .container2 {
            width: 100%;
            padding-top: 20px;
            display: block;

            .policy-p {
                width: 100%;
            }

            .policy-image {
                width: 100%;
                padding: 0px;
                display: none;
                .img-policy {
                    width: 100%;
                }
            }

            .policy-image1 {
                width: 100%;
                padding: 0px;
                display: block;
                .img-policy1 {
                    width: 100%;
                }
            }
        }

    }
}